extends layout

block content
  div(class='reveal')
    div(class='slides')
      section(data-background='/images/hi.gif')
        h1(class='lowercase') Hello
      section(class='stretch')
        img(src='/images/build.gif', class="stretch")
      section(data-background='/images/walle3.gif')
        br
      section
        img(src='/images/dog2.gif', class="stretch")
      section
        img(src='/images/venn_diag.jpg', class="stretch")
      section
        video(autoplay='true', class="stretch")
      section
        img(src='/images/why.gif', class="stretch")
      section
        img(src='/images/tryexplaining.gif', class="stretch")
      section
        video(autoplay='true', class="stretch")
      section
        img(src='/images/areas.jpg', class="stretch")
      section
        img(src='/images/sketches.gif', class="stretch")
      section
        img(src='/images/bluefoam.gif', class="stretch")
      section
        img(src='/images/3dcad.gif', class="stretch")
      section
        img(src='/images/sourcing.jpg', class="stretch")
      section
        img(src='/images/3dprint.gif', class="stretch")
      section
        img(src='/images/packed.gif', class="stretch")
      section
        video(autoplay='true', class="stretch")
      section(data-background='/images/imsorrywhat2.gif')
        h3 inverse kinematics
      section
        img(src='/images/whiteboard.jpg', class="stretch")
      section
        img(src='/images/equations.jpg', class="stretch")
      section
        video(autoplay='true', class="stretch")
      section
        img(src='/images/ohno.gif', class="stretch")
      section
        img(src='/images/network.gif', class="stretch")
      section
        video(autoplay='true', class="stretch")
      section
        img(src='/images/learning.gif', class="stretch")
      section
        video(autoplay='true', class="stretch")
      section
        img(src='/images/assistant.gif', class="stretch")
      section
        video(autoplay='true', class="stretch")
      section
        img(src='/images/iseeyou2.gif', class="stretch")
      section
        video(autoplay='true', class="stretch")
      section
        img(src='/images/partnership.gif', class="stretch")
      section
        h3 Thanks
        h3 Mom & Dad 
        h3 Sister, Grandparents, Sheetal, 
        h3 Maya, Marc, Isa, Gaba, Tigran, Gabe, Joe, Teresa, 
        h3 Eric Rosenthal, 
        h3 itp faculty, robin reid, alon, john, thesis group, everyone here at itp
      section
        video(autoplay='true', class="stretch")


