doctype html
html
  head
    title Peeqo Thesis
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/reveal.css')
    link(rel='stylesheet', href='/stylesheets/white.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/reveal.js')
    script(src='/javascripts/global.js')
